$color--primary: #CCCCCC;
$color--secondary: #999;
$color--enhanced: #eee;

/*----------------------------------
 * Typography
 *---------------------------------*/

h1,h2,h3,h4 { color: $color--primary; }
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; margin-top: 0;}

body, * {
    color: $color--secondary;
}

h1,h2,h3,h4 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: normal;
}

.enhanced {
    font-style: normal;
    color: $color--enhanced;
}

.enhanced--light {
    @extend .enhanced;
    font-weight: normal;
    color: $color--primary;
}

.enhanced--heavy {
    @extend .enhanced;
    font-weight: bold;
}
